@using System.Globalization
@{
    ViewData["Title"] = "Arragro CMS Management";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object History</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500">
    <!-- <link href="//fonts.googleapis.com/css?family=Muli" rel="stylesheet"> -->
    <link rel="SHORTCUT ICON" href="//arragro-static-web.azureedge.net/public/images/favicon.ico" />
    <link rel="stylesheet" href="/dist/main.css" />
    <link rel="stylesheet" href="/dist/vendor.css" />
</head>
<body>
    <div id="arragro-object-history-react-app"></div>

    <script src="/dist/vendor.js"></script>
    <script src="/dist/main.js"></script>
</body>
</html>